@import "variables";

$palette-primary: (
  50 : #e0e8ee,
  100 : #b3c5d6,
  200 : #809fba,
  300 : #4d789e,
  400 : #265b8a,
  500 : $color-primary,
  600 : #00386d,
  700 : #003062,
  800 : #002858,
  900 : #001b45,
  A100 : #7a9fff,
  A200 : #477bff,
  A400 : #1456ff,
  A700 : #0046f9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  ));

$palette-accent: (
  50 : #fcebe3,
  100 : #f9cdba,
  200 : #f5ac8c,
  300 : #f08b5d,
  400 : #ed723b,
  500 : $color-accent,
  600 : #e75115,
  700 : #e44811,
  800 : #e13e0e,
  900 : #db2e08,
  A100 : #ffffff,
  A200 : #ffd7d1,
  A400 : #ffab9e,
  A700 : #ff9585,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
