/* Colors */

/* Primary */
$color-primary: #003e75;

/* Secondary */

/* Accent */
$color-accent: #ea5918;
$color-accent-1: #EF7839;
$color-accent-2: #F39561;
$color-accent-3: #F5AF87;
$color-accent-4: #F7BDA3;
$color-accent-5: #FDE5D9;

/* Neutral */
$color-neutral-blue-1: #40678f;
$color-neutral-blue-2: #59799d;
$color-neutral-blue-3: #718caa;
$color-neutral-blue-4: #899fb8;
$color-neutral-blue-5: #a0b2c6;
$color-neutral-blue-6: #b8c7d6;
$color-neutral-blue-7: #d1d9e3;
$color-neutral-blue-8: #e7edf1;

$color-neutral-2: #6C7281;
$color-neutral-3: #7C7E8C;

$color-pale-1: #F7F9FB;

/* Orange */
$color-promo-orange: #E85919;
$color-promo-orange-20: #F9CAB0;

/* Cyan */
$color-promo-cyan: #38AAE1;

/* Warn */
$color-warn-solid: #B53B20;

/* Green */
$color-green: #75C067;
$color-green-1: #7DCB6F;

$color-yellow: #FCF7B6;

/* Dark blue */
$color-dark-blue: #0F2841;

$text-color: $color-primary;

/* Global margins */
$spacing-vertical: 24px;
$spacing-horizontal: 9vw;

$default-font: Futura, Arial, sans-serif;

$color-approved: #E5FFE0;
$color-pending: #FFECE1;
